{% extends 'base.html' %}
{% load staticfiles %}


        {% block main_block %}
        <!-- Bradcrumb Area -->
        <div class="sn-breadcrumb-are bg-theme section-padding-xs">
            <div class="container">
                <div class="sn-breadcrumb text-center">
                    <h3>CONTACT US</h3>
                </div>
            </div>
        </div>
        <!--// Bradcrumb Area -->

		<!-- Page Conttent -->
		<main class="page-content">

            <!-- Contact Area -->
            <div class="contact-us-area section-padding-md">

				<!-- Contact Us Info -->
				<div class="container">
					<div class="row">
						
						<div class="col-lg-6">
							<div class="commentbox">
								<h5>LEAVE US A MESSAGE</h5>
								<form id="contact-form" action="mail.php" method="POST" class="sn-form contact-form">
									<div class="sn-form-inner">
										<div class="single-input single-input-half">
											<label for="new-review-name">Name*</label>
											<input type="text" name="name" id="new-review-name">
										</div>
										<div class="single-input single-input-half">
											<label for="new-review-email">Email*</label>
											<input type="email" name="email" id="new-review-email">
										</div>
										<div class="single-input">
											<label for="new-review-subject">Subject*</label>
											<input type="text" name="subject" id="new-review-subject">
										</div>
										<div class="single-input">
											<label for="new-review-textbox">Your Message</label>
											<textarea id="new-review-textbox" name="message" cols="30" rows="5"></textarea>
										</div>
										<div class="single-input">
											<button class="sn-button sn-button-dark" type="submit"><span>Send</span></button>
										</div>
									</div>
								</form>
								<p class="form-message"></p>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="google-map-wrapper">
								<div class="google-map" id="google-map"></div>
							</div>
						</div>

					</div>
				</div>
				<!--// Contact Us Info -->

            </div>
            <!--// Contact Area -->

        </main>
        {% endblock %}