{% extends 'base.html' %}
{% load  static from staticfiles %}

{% block main_block %}

		<!-- Hero Area -->
		<div class="hero-area slider-navigation-1">
			<div class="single-hero-item d-flex align-items-center"style="background-image: url(/static/goods/img/hero-image/hero-image-1.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-8 col-md-9 offset-xl-1 offset-0">
							<div class="hero-content">
								<h1>LATEST & EXCLUSIVE COLLECTIONS FOR WOMEN</h1>
								<p>Genrre is one of the best shop for mens product & womens product. We always try to bring latest & exclusive collections.</p>
								<a href="shop-right-sidebar.html" class="sn-button">
									<span>Shop Now</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="single-hero-item d-flex align-items-center"style="background-image: url(/static/goods/img/hero-image/hero-image-2.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-8 col-md-9 offset-xl-1 offset-0">
							<div class="hero-content">
								<h1>OUR NEW COLLECTIONS FOR STYLISH MEN & WOMEN</h1>
								<p>Genrre is one of the best shop for mens product & womens product. We always try to bring latest & exclusive collections.</p>
								<a href="shop-right-sidebar.html" class="sn-button">
									<span>Shop Now</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--// Hero Area -->

		<!-- Page Conttent -->
		<main class="page-content">

			<!-- Banners Area -->
			<div class="banner-area section-padding-md">
				<div class="container">
					<div class="row banners-masonry-active banners-wrapper">

						<!-- Single Banner -->
						<div class="col-lg-8 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/goods/img/banners/banner-image-1.jpg" alt="best banner image">
								<div class="banner-content text-center">
									<h3>SAHARA MEN’S JEWELRY</h3>
									<p>Get more jewelry accessories from Sahara spring jewelry Collection 2018</p>
								</div>
							</a>
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/goods/img/banners/banner-image-2.jpg" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">
									<h3>VINTAGE CLOTHING</h3>
									<p>Sale away with 58 new styles up 80 % off</p>
								</div>
							</a>
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/goods/img/banners/banner-image-3.jpg" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">
									<h3>BEAUTIFUL & FRESH</h3>
									<p>Make your life more colorful !</p>
								</div>
							</a>
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/goods/img/banners/banner-image-4.jpg" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">
									<h3>FASHION MENSWEAR</h3>
									<p>Spring Collections 2018</p>
								</div>
							</a>
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/goods/img/banners/banner-image-5.jpg" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">
									<h3>COLORFUL SWEATER</h3>
									<p>Get the new look with only <br>$250.00</p>
								</div>
							</a>
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/goods/img/banners/banner-image-6.jpg" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">
									<h3>CASUAL SHOES</h3>
									<p>Sahara casual shoes collection 2018</p>
								</div>
							</a>
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/goods/img/banners/banner-image-7.jpg" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">
									<h3>GRUNGE STREET STYLE</h3>
									<p>Become a grunge guy now !</p>
								</div>
							</a>
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/goods/img/banners/banner-image-9.jpg" alt="best banner image">
								<div class="banner-content text-center">
									<h3>NEW EXCLUSIVES</h3>
									<p>Our best beautiful multitakers – 30% OFF</p>
								</div>
							</a>
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/goods/img/banners/banner-image-8.jpg" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">
									<h3>SAHARA LOOKBOOK</h3>
									<p>Spring / Summer 2018</p>
								</div>
							</a>
						</div>
						<!--// Single Banner -->

					</div>
				</div>
			</div>
			<!--// Banners Area -->
        </main>
{% endblock %}