{% extends 'base.html' %}
{% load  static from staticfiles %}

{% block main_block %}
		<!-- Hero Area -->
		<div class="hero-area slider-navigation-1">
			<div class="single-hero-item d-flex align-items-center"style="background-image: url(/static/goods/img/hero-image/hero-image-1.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-8 col-md-9 offset-xl-1 offset-0">
							<div class="hero-content">
								<h1>LATEST & EXCLUSIVE COLLECTIONS FOR WOMEN</h1>
								<p>Genrre is one of the best shop for mens product & womens product. We always try to bring latest & exclusive collections.</p>
								<a href="{% url 'goods:shop' %}" class="sn-button">
									<span>Shop Now</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="single-hero-item d-flex align-items-center"style="background-image: url({% static 'goods/img/hero-image/hero-image-2.jpg'%});">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-8 col-md-9 offset-xl-1 offset-0">
							<div class="hero-content">
								<h1>OUR NEW COLLECTIONS FOR STYLISH MEN & WOMEN</h1>
								<p>Genrre is one of the best shop for mens product & womens product. We always try to bring latest & exclusive collections.</p>
								<a href="{% url 'goods:shop' %}" class="sn-button">
									<span>Shop Now</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--// Hero Area -->

		<!-- Page Conttent -->
		<main class="page-content">

			<!-- Banners Area -->
			<div class="banner-area section-padding-md">
				<div class="container">
					<div class="row banners-masonry-active banners-wrapper">

						<!-- Single Banner -->
						<div class="col-lg-8 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="{% static 'goods/img/banners/banner-image-1.jpg'%}" alt="best banner image">
								<div class="banner-content text-center">					
									<h3>SAHARA MEN’S JEWELRY</h3>
									<p>Get more jewelry accessories from Sahara spring jewelry Collection 2018</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="{% static 'goods/img/banners/banner-image-2.jpg'%}" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>VINTAGE CLOTHING</h3>
									<p>Sale away with 58 new styles up 80 % off</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="{% static 'goods/img/banners/banner-image-3.jpg' %}" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>BEAUTIFUL & FRESH</h3>
									<p>Make your life more colorful !</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="{% static 'goods/img/banners/banner-image-4.jpg' %}" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>FASHION MENSWEAR</h3>
									<p>Spring Collections 2018</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="{% static "goods/img/banners/banner-image-5.jpg"%}" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>COLORFUL SWEATER</h3>
									<p>Get the new look with only <br>$250.00</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="{% static 'goods/img/banners/banner-image-6.jpg' %}" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>CASUAL SHOES</h3>
									<p>Sahara casual shoes collection 2018</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="{% static 'goods/img/banners/banner-image-7.jpg' %}" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>GRUNGE STREET STYLE</h3>
									<p>Become a grunge guy now !</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="{% static 'goods/img/banners/banner-image-9.jpg' %}" alt="best banner image">
								<div class="banner-content text-center">					
									<h3>NEW EXCLUSIVES</h3>
									<p>Our best beautiful multitakers – 30% OFF</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->
						
						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="{% static 'goods/img/banners/banner-image-8.jpg' %}" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>SAHARA LOOKBOOK</h3>
									<p>Spring / Summer 2018</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

					</div>
				</div>
			</div>
			<!--// Banners Area -->

			<!-- Features Area -->
			<div class="features-area">
				<div class="container">
					<div class="row justify-content-center features-wrapper">

						<!-- Single Features -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="features text-center">
								<h6>MONEY BACK GUARANTEED</h6>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
							</div>	
						</div>
						<!--// Single Features -->

						<!-- Single Features -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="features text-center">
								<h6>FREE WORLDWIDE DELIVERY</h6>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
							</div>	
						</div>
						<!--// Single Features -->

						<!-- Single Features -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="features text-center">
								<h6>ONLINE SUPPORT 24/7</h6>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
							</div>	
						</div>
						<!--// Single Features -->

					</div>
				</div>
			</div>
			<!--// Features Area -->

			<!-- Newsletter & Brand Logos Area -->
			<div class="newsletter-brandlogo-area section-padding-xs">
				<div class="container">
					<div class="row no-gutters align-items-center">

						<!-- Newsletter -->
						<div class="col-lg-4">
							<div class="newsletterbox">
								<h5>SIGN UP FOR OUR WEEKLY NEWSLETTER !</h5>
								<form action="#">
									<input type="text" placeholder="Email">
									<button type="submit">Subscribe</button>
								</form>
							</div>
						</div>
						<!--// Newsletter -->

						<!-- Brand Logo -->
						<div class="col-lg-8">
							<div class="brand-logos slider-navigation-2">
								<div class="brand-logo">
									<a href="#">
										<img src="{% static 'goods/img/brand-logos/brand-logo-1.jpg'%}" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										<img src="{% static 'goods/img/brand-logos/brand-logo-2.jpg'%}" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										<img src="{% static 'goods/img/brand-logos/brand-logo-3.jpg'%}" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										<img src="{% static 'goods/img/brand-logos/brand-logo-4.jpg'%}" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										<img src="{% static 'goods/img/brand-logos/brand-logo-2.jpg'%}" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										<img src="{% static 'goods/img/brand-logos/brand-logo-3.jpg'%}" alt="best brand logo">
									</a>
								</div>
							</div>
						</div>
						<!--// Brand Logo -->

					</div>
				</div>
			</div>
			<!--// Newsletter & Brand Logos Area -->

		</main>
		<!--// Page Conttent -->

{% endblock %}