{% extends 'base.html' %}
{% load staticfiles %}

{% block main_block %}
		<!-- Page Conttent -->
		<main class="page-content">

            <!-- Product Page Wrapper -->
            <div class="product-page-wrapper section-padding-bottom-md">
                <div class="container">

                    <!-- Shop Breadcrumb -->
                    <div class="shop-breadcrumb">
                        <ul>
                            <li><a href="{% url 'goods:index' %}">Home</a></li>
                            <li><a href="{% url 'goods:shop' %}">Shop</a></li>
                            <li><a href="{% url 'goods:shop' %}">Mens</a></li>
                            <li>Aenean Eu Tristique</li>
                        </ul>
                    </div>
                    <!--// Shop Breadcrumb -->

                    <!-- Product Details Inner -->
                    <div class="product-details">
                        <!-- Product Details Left -->
                        <div class="product-details-left">
                            <div class="product-details-images slider-navigation-2">
                                {% for file in file_list %}
                                <a href="/static/goods/img/product/large-size/{{ file }}">
                                    <img src="/static/goods/img/product/thumbnail-size/{{ file }}" alt="product image">
                                </a>
                                {% endfor %}
                            </div>
{#                            <div class="product-details-thumbs slider-navigation-2">#}
{#                                {% for file in file_list %}#}
{#                                    <img src="/static/goods/img/product/small-size/{{ file }}" alt="product image thumb">#}
{#                                {% endfor %}#}
{#                            </div>#}
                        </div>
                        <!--// Product Details Left -->

                        <!-- Product Details Right -->
                        <div class="product-details-right">
                            <h5 class="product-title">Aenean Eu Tristique</h5>

                            <div class="ratting-stock-availbility">
                                <div class="ratting-box">
                                    <span class="active"><i class="fa fa-star"></i></span>
                                    <span class="active"><i class="fa fa-star"></i></span>
                                    <span class="active"><i class="fa fa-star"></i></span>
                                    <span class="active"><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                                <span class="stock-available">In stock</span>
                            </div>

                            <p>{{ goods.gshort_details }} </p>

                            <div class="price-box">
                                <span class="pricebox-price">{{ goods.gprice }}</span>
                            </div>
{##}
{#                            <div class="product-details-quantity">#}
{#                                <div class="quantity-select">#}
{#                                    <input type="text" value="1">#}
{#                                </div>#}
{#                                <a href="#" class="add-to-cart-button">#}
{#                                    <span>ADD TO CART</span>#}
{#                                </a>#}
{#                            </div>#}

{#                            <div class="product-details-color">#}
{#                                <span>Color :</span>#}
{#                                <ul>#}
{#                                    <li class="red"><span></span></li>#}
{#                                    <li class="green checked"><span></span></li>#}
{#                                    <li class="blue"><span></span></li>#}
{#                                    <li class="black"><span></span></li>#}
{#                                </ul>#}
{#                            </div>#}
{##}
{#                            <div class="product-details-size">#}
{#                                <span>Size :</span>#}
{#                                <ul>#}
{#                                    <li class="checked"><span>S</span></li>#}
{#                                    <li><span>M</span></li>#}
{#                                    <li><span>L</span></li>#}
{#                                    <li><span>XL</span></li>#}
{#                                    <li><span>XXL</span></li>#}
{#                                </ul>#}
{#                            </div>#}

                            <div class="product-details-categories">
                                <span>Categories :</span>
                                <ul>
                                    <li><a href="#">{{ goods.gcatalog }}</a></li>

                                </ul>
                            </div>
{##}
{#                            <div class="product-details-tags">#}
{#                                <span>Tags :</span>#}
{#                                <ul>#}
{#                                    <li><a href="shop.html">Electronic</a></li>#}
{#                                    <li><a href="shop.html">Television</a></li>#}
{#                                </ul>#}
{#                            </div>#}

                            <div class="product-details-socialshare">
                                <span>Share :</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--// Product Details Right -->

                    </div>
                    <!--// Product Details Inner -->
                    
                    <!-- Product Details Review -->
                    <div class="product-descripton-review">

                        <ul class="nav" id="product-description-review" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-description-tab" data-toggle="tab" href="#product-description" role="tab" aria-controls="product-description" aria-selected="true">Description</a>
                            </li>
{#                            <li class="nav-item">#}
{#                                <a class="nav-link" id="product-reviews-tab" data-toggle="tab" href="#product-reviews" role="tab" aria-controls="product-reviews" aria-selected="false">Reviews (1)</a>#}
{#                            </li>#}
                        </ul>

                        <div class="tab-content" id="product-description-review-content">
                            <div class="tab-pane fade show active" id="product-description" role="tabpanel" aria-labelledby="product-description-tab">
                                <div class="product-description">
                                <p>{{ goods.glong_details }}</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product-reviews" role="tabpanel" aria-labelledby="product-reviews-tab">
                                <div class="product-review">
                                    <div class="commentlist">
                                        <h6>1 REVIEW FOR AENEAN EU TRISTIQUE</h6>
                                        <div class="single-comment">
                                            <div class="single-comment-thumb">
                                                <img src="img/author-image/author-image-1.png" alt="hastech logo">
                                            </div>
                                            <div class="single-comment-content">
                                                <div class="single-comment-content-top">
                                                    <h6>ADMIN – February 17, 2015</h6>
                                                    <div class="ratting-box">
                                                        <span class="active"><i class="fa fa-star"></i></span>
                                                        <span class="active"><i class="fa fa-star"></i></span>
                                                        <span class="active"><i class="fa fa-star"></i></span>
                                                        <span class="active"><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                    </div>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="commentbox mt-5">
                                        <h6>ADD A REVIEW</h6>
                                        <form action="#" class="sn-form">
                                            <div class="sn-form-inner">
												<div class="single-input">
													<label>Your Rating</label>
													<div class="ratting-box hover-action">
														<span class="active"><i class="fa fa-star"></i></span>
														<span class="active"><i class="fa fa-star"></i></span>
														<span class="active"><i class="fa fa-star"></i></span>
														<span class="active"><i class="fa fa-star"></i></span>
														<span><i class="fa fa-star"></i></span>
													</div>
												</div>
												<div class="single-input">
													<label for="new-review-textbox">Your Review</label>
													<textarea id="new-review-textbox" cols="30" rows="5"></textarea>
												</div>
												<div class="single-input">
													<label for="new-review-name">Name*</label>
													<input type="text" id="new-review-name">
												</div>
												<div class="single-input">
													<label for="new-review-email">Email*</label>
													<input type="email" id="new-review-email">
												</div>
												<div class="single-input">
													<button class="sn-button sn-button-dark" type="submit"><span>Submit</span></button>
												</div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!--// Product Details Review -->

                </div>
                                        
            </div>
            <!--// Product Page Wrapper -->
        </main>
    {% endblock %}